body {
  background-color: black;
  text-align: center;
  font-family: veranda, geneva, tahoma, sans-serif;
}
.header--main {
  font-weight: normal;
  font-size: 50px;
  color: white;
}
.link--cta {
  color: aquamarine;
  font-size: 16px;
}
video {

}
#video {
  align-content: center;
}
